*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#f5f7fa;
  color:#003262;
  line-height:1.6;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}

img{
  width:100%;
  display:block;
}

a{
  text-decoration:none;
}

/* ================= HEADER ================= */

header{
  background:#ffffff;
  position:sticky;
  top:0;
  z-index:1000;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 0;
}

/* ================= LOGO ================= */

.logo{
  font-size:28px;
  font-weight:700;
  display:flex;
  align-items:center;
  gap:8px;
}

.logo img{
  width:50px;
  height:50px;
}

.logo span{
  color:#f4b400;
}

.logo a{
  color:#003262;
}

/* ================= NAVBAR ================= */

 nav{
  display:flex;
  align-items:center;
  gap:30px;
}

 nav a{
  color:#003262;
  font-weight:500;
  display:flex;
  align-items:center;
  height:50px;
}

nav a:hover{
  color:#f4b400;
}

/* ================= DROPDOWN ================= */

.dropdown{
  position:relative;
}

.drop-btn{
  display:flex;
  align-items:center;
  gap:5px;
}

.dropdown-content{
  position:absolute;
  top:38px;
  left:0;

  background:#ffffff;
  min-width:180px;

  border-radius:12px;
  overflow:hidden;

  opacity:0;
  visibility:hidden;
  transform:translateY(10px);

  transition:0.3s ease;
}

.dropdown-content a{
  display:block;
  color:#003262;
  padding:14px 18px;
  font-size:15px;
  transition:0.3s ease;
}

.dropdown-content a:hover{
  background:#f3f7f3;
  color:#f4b400;
  padding-left:24px;
}

.dropdown:hover .dropdown-content{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

/* ================= BUTTONS ================= */

.btn-primary,
.btn-secondary{
  padding:12px 24px;
  border-radius:8px;
  font-weight:600;
  transition:0.3s;
}

.btn-primary{
  background:#f4b400;
  color:#ffffff;
}

.btn-secondary{
  border:2px solid #f4b400;
  color:#f4b400;
}

.btn-secondary:hover{
  background:#f4b400;
  color:#ffffff;
}

/* ================= LOGIN ================= */

.login{
  background:#f4b400;
  color:#ffffff;
  padding:12px 24px;
  border-radius:8px;
  font-weight:600;
  transition:0.3s ease;
}

.login:hover{
  color: #003262;
  transform:scale(1.1);
}

/* ================= HEADER ICONS ================= */

.header-icons{
  display:flex;
  align-items:center;
  gap:12px;
}

.icon-btn{
  width:42px;
  height:42px;
  border:none;
  border-radius:10px;
  background:#f3f4f6;
  color:#003262;
  cursor:pointer;
  font-weight:600;
  transition:0.3s ease;
}

.icon-btn:hover{
  background:#f4b400;
  color:#ffffff;
}

 .hamburger{
  display:none;
  font-size:30px;
  cursor:pointer;
  color:#003262;
  width:45px;
  height:45px;
  border-radius:10px;
  align-items:center;
  justify-content:center;
  transition:0.3s ease;
}

.hamburger:hover{
  background:#f4b400;
  color:#ffffff;
}
/* ================= HERO ================= */

.hero{
  min-height:90vh;
  background:url(images/img-abt.webp);
  background-size:cover;
  background-position:center;
  position:relative;
  display:flex;
  align-items:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.4);
}

.hero-content{
  position:relative;
  z-index:2;
  text-align:center;
  color:#ffffff;
}

.hero-content h1{
  font-size:65px;
  margin-bottom:20px;
}

.hero-content p{
  font-size:18px;
}

/* ================= STATS ================= */

.customer-stats{
  padding:100px 0 70px;
}

.stats-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:30px;
}

.stat-box{
  background:#ffffff;
  padding:40px;
  border-radius:22px;
  text-align:center;
  transition:0.4s ease;
}

.stat-box:hover{
  transform:translateY(-10px);
}

.stat-box h2{
  font-size:42px;
  color:#f4b400;
}

.stat-box p{
  margin-top:10px;
}

/* ================= SECTION TITLE ================= */

.section-title{
  text-align:center;
  margin-bottom:60px;
}

.section-title h2{
  font-size:48px;
  margin-bottom:15px;
}

/* ================= CUSTOMER LIST ================= */

.customers-list{
  padding-bottom:100px;
}

.customer-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(340px,1fr));
  gap:35px;
}

.customer-card{
  background:#ffffff;
  border-radius:25px;
  overflow:hidden;
  transition:0.4s ease;
}

.customer-card:hover{
  transform:translateY(-10px);
}

.customer-card img{
  height:300px;
  object-fit:cover;
}

.customer-content{
  padding:35px;
}

.customer-content h3{
  font-size:30px;
  margin-bottom:10px;
}

.customer-content span{
  color:#f4b400;
  font-weight:600;
}

.customer-content p{
  margin:20px 0;
}

.customer-info{
  display:flex;
  gap:40px;
}

.customer-info h4{
  color:#003262;
  font-size:28px;
}

/* ================= TESTIMONIALS ================= */

.testimonials{
  background:#ffffff;
  padding:100px 0;
}

.testimonial-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.testimonial-box{
  background:#f5f7fa;
  padding:40px;
  border-radius:22px;
  transition:0.4s ease;
}

.testimonial-box:hover{
  transform:translateY(-10px);
}

.testimonial-box h4{
  margin-top:20px;
  color:#f4b400;
}

/* ================= CTA ================= */

.cta{
  padding:100px 0;
  background:#003262;
  text-align:center;
  color:#ffffff;
}

.cta-content h2{
  font-size:52px;
  margin-bottom:20px;
}

.cta-content p{
  font-size:18px;
  margin-bottom:35px;
}

.cta-content a{
  display:inline-block;
  padding:16px 38px;
  background:#f4b400;
  color:#ffffff;
  border-radius:12px;
  font-weight:600;
  transition:0.3s ease;
}

.cta-content a:hover{
  color:#003262;
}

/* ================= FOOTER ================= */

.footer{
  background:whitesmoke;
  color:#003262;
  padding-top:80px;
}

.footer-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:40px;
  padding-bottom:50px;
}
.social-icons{
display: flex;
justify-content: space-around;
gap: 10px;
margin-top: 20px;
}
 
.social-icons a{
  
  color:#003262;
 text-decoration: none;
  transition:0.4s ease;
 
}
 
.social-icons svg:hover{
color: #f4b400;
  transform:translateY(-5px);
}
 
.footer-logo{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:30px;
  font-weight:700;
  margin-bottom:20px;
  
}
.footer-logo a{
  text-decoration: none;
  color: #003262;
}

.footer-logo img{
  width:50px;
  height:50px;
}

.footer-logo span{
  color:#f4b400;
}


.footer-box p{
  color:black;
  margin-bottom:12px;
}

.footer-box1 h3{
  margin-bottom:20px;
  font-size:22px;
}

.footer-box1 a{
  display:block;
  color:black;
  margin-bottom:12px;
  transition:0.3s;
}

.footer-box1 a:hover{
  color:#f4b400;
}

.footer-legal{
  display: flex;
  justify-content: center;
  /* padding: 10px; */
  gap: 20px;
 
 
}
.footer-legal li{
  list-style: none;
  color: black;
 
}
.footer-legal a{
  color: black;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer-legal a:hover{
  color: #f4b400;
}
 
.footer-bottom{
  border-top:1px solid #222222;
  padding-left:100px ;
  padding-right: 100px;
  color:black;
  display: flex;
  justify-content: space-between;
}
/* ================= DARK MODE ================= */

body.dark-mode{
  background:#111827;
  color:#ffffff;
}

body.dark-mode header{
  background:#1f2937;
}

body.dark-mode .logo a{
  color: #003262;
}
body.dark-mode nav a,
body.dark-mode .drop-btn{
  color:#ffffff;
}

body.dark-mode nav a:hover,
body.dark-mode .drop-btn:hover{
  color:#f4b400;
}

body.dark-mode .dropdown-content{
  background:#1f2937;
}

body.dark-mode .dropdown-content a{
  color:#ffffff;
}

body.dark-mode .dropdown-content a:hover{
  background:#374151;
  color:#f4b400;
}

body.dark-mode .icon-btn{
  background:#374151;
  color:#ffffff;
}

body.dark-mode .icon-btn:hover{
  background:#f4b400;
}

body.dark-mode .stat-box,
body.dark-mode .customer-card,
body.dark-mode .testimonial-box{
  background:#1f2937;
  color:#ffffff;
}

body.dark-mode .customer-info h4,
body.dark-mode .section-title h2{
  color:#ffffff;
}

body.dark-mode .testimonials{
  background:#111827;
}

body.dark-mode .footer {
   background:#1f2937;
   color: #f4b400;
}
 body.dark-mode .footer svg{
  color: white;
 }
 body.dark-mode .footer svg:hover{
  color: #f4b400;
 }
 body.dark-mode .footer-bottom{
  color: white;
 }
body.dark-mode .footer-legal a{
  color: white;
}
body.dark-mode .footer-legal a:hover{
  color: #f4b400;
}
body.dark-mode .footer-box1 a{
  color: white;
}
body.dark-mode .footer-box1 a:hover{
  color: #f4b400;
}
body.dark-mode .footer-box p{
  color: white;
}

/* ================= RTL ================= */

body.rtl{
  direction:rtl;
}

body.rtl .navbar,
body.rtl .stats-grid,
body.rtl .customer-grid,
body.rtl .testimonial-grid,
body.rtl .footer-grid{
  direction:rtl;
}

body.rtl .customer-content,
body.rtl .footer-box{
  text-align:right;
}

body.rtl nav{
  flex-direction:row-reverse;
}

body.rtl .dropdown-content{
  left:auto;
  right:0;
}
body.dark-mode .hamburger{
  color:#ffffff;
}

/* ================= RESPONSIVE ================= */

/* ======================================================
   RESPONSIVE FIXES
====================================================== */

/* =========================
   LAPTOP / TABLET
========================= */

@media screen and (max-width:1024px){

  body{
    overflow-x:hidden;
  }

  .container{
    width:92%;
  }

  /* NAVBAR */

  .navbar{
    position:relative;
    padding:14px 0;
  }

  .hamburger{
    display:flex;
  }
   .dropdown:hover .dropdown-content{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
  }

  nav{
    position:absolute;
    top:100%;
    left:0;

    width:100%;

    background:#ffffff;

    flex-direction:column;
    align-items:flex-start;

    gap:0;

    display:none;

    z-index:999;

    padding:10px 0;

    border-radius:0 0 16px 16px;
  }

  body.dark-mode nav{
    background:#1f2937;
  }

  nav.active{
    display:flex;
  }

  nav a{
    width:100%;
    height:auto;

    padding:16px 22px;

    border-bottom:1px solid #eeeeee;
  }

  body.dark-mode nav a{
    border-bottom:1px solid #374151;
  }

  /* DROPDOWN */

  .dropdown{
    width:100%;
  }

  .drop-btn{
    width:100%;
    justify-content:space-between;
  }

  .dropdown-content{
    position:static;

    width:100%;

    opacity:1;
    visibility:visible;

    transform:none;

    display:none;

    border-radius:0;

    background:#f9fafb;
  }

  body.dark-mode .dropdown-content{
    background:#111827;
  }

  .dropdown.active .dropdown-content{
    display:block;
  }

  .dropdown-content a{
    padding:14px 40px;
  }

  /* HERO */

  .hero{
    min-height:80vh;
    text-align:center;
    padding:80px 0;
  }

  .hero-content h1{
    font-size:48px;
    line-height:1.2;
  }

  .hero-content p{
    font-size:16px;
    max-width:700px;
    margin:auto;
  }

  /* CUSTOMER SECTION */

  .customer-grid{
    grid-template-columns:repeat(2,1fr);
    gap:25px;
  }

  .customer-card img{
    height:260px;
  }

  .customer-content{
    padding:28px;
  }

  /* TESTIMONIALS */

  .testimonial-grid{
    grid-template-columns:repeat(2,1fr);
  }

  /* CTA */

  .cta-content h2{
    font-size:42px;
  }

  /* FOOTER */

  .footer-bottom{
    padding:20px 30px;
  }

}


/* =========================
   TABLET / MOBILE
========================= */

@media screen and (max-width:768px){

  .container{
    width:94%;
  }

  /* HERO */

  .hero{
    min-height:75vh;
    padding:70px 0;
  }

  .hero-content h1{
    font-size:38px;
  }

  .hero-content p{
    font-size:15px;
    width:100%;
  }

  /* STATS */

  .stats-grid{
    grid-template-columns:1fr 1fr;
    gap:20px;
  }

  .stat-box{
    padding:30px 20px;
  }

  .stat-box h2{
    font-size:34px;
  }

  /* SECTION TITLE */

  .section-title{
    margin-bottom:40px;
  }

  .section-title h2{
    font-size:34px;
  }

  /* CUSTOMERS */

  .customer-grid{
    grid-template-columns:1fr;
  }

  .customer-card{
    max-width:550px;
    margin:auto;
  }

  .customer-card img{
    height:280px;
  }

  .customer-content h3{
    font-size:26px;
  }

  .customer-info{
    justify-content:space-between;
    gap:20px;
    flex-wrap:wrap;
  }

  .customer-info h4{
    font-size:22px;
  }

  /* TESTIMONIALS */

  .testimonial-grid{
    grid-template-columns:1fr;
  }

  .testimonial-box{
    padding:30px;
  }

  /* CTA */

  .cta{
    padding:80px 0;
  }

  .cta-content h2{
    font-size:34px;
  }

  .cta-content p{
    font-size:15px;
  }

  /* FOOTER */

  .footer{
    text-align:center;
  }

  .footer-container{
    grid-template-columns:1fr;
    gap:35px;
  }

  .footer-logo{
    justify-content:center;
  }

  .social-icons{
    justify-content:center;
  }

  .footer-bottom{
    flex-direction:column;
    align-items:center;

    gap:15px;

    text-align:center;

    padding:20px;
  }

  .footer-legal{
    flex-wrap:wrap;
    justify-content:center;
  }

}


/* =========================
   SMALL MOBILE
========================= */

@media screen and (max-width:480px){

  .container{
    width:95%;
  }

  /* NAVBAR */

  .navbar{
    padding:12px 0;
  }

  .logo{
    font-size:20px;
    gap:6px;
  }

  .logo img{
    width:40px;
    height:40px;
  }

  .header-icons{
    gap:6px;
  }

  .icon-btn{
    width:36px;
    height:36px;
    font-size:12px;
  }

  .hamburger{
    width:38px;
    height:38px;
    font-size:24px;
  }

  .login{
    padding:10px 14px;
    font-size:13px;
  }

  nav a{
    font-size:14px;
    padding:14px 18px;
  }

  /* HERO */

  .hero{
    min-height:70vh;
    padding:60px 0;
  }

  .hero-content h1{
    font-size:28px;
    line-height:1.3;
  }

  .hero-content p{
    font-size:14px;
  }

  /* STATS */

  .stats-grid{
    grid-template-columns:1fr;
  }

  .stat-box{
    padding:25px 18px;
  }

  .stat-box h2{
    font-size:30px;
  }

  /* SECTION TITLE */

  .section-title h2{
    font-size:28px;
  }

  /* CUSTOMER */

  .customer-card img{
    height:240px;
  }

  .customer-content{
    padding:22px;
  }

  .customer-content h3{
    font-size:22px;
  }

  .customer-content p{
    font-size:14px;
  }

  .customer-info{
    flex-direction:column;
    gap:12px;
  }

  .customer-info h4{
    font-size:20px;
  }

  /* TESTIMONIAL */

  .testimonial-box{
    padding:25px 20px;
  }

  /* CTA */

  .cta-content h2{
    font-size:28px;
  }

  .cta-content p{
    font-size:14px;
  }

  .cta-content a{
    width:100%;
    text-align:center;
    padding:14px 20px;
  }

  /* FOOTER */

  .footer{
    padding-top:60px;
  }

  .footer-logo{
    font-size:24px;
  }

  .footer-logo img{
    width:40px;
    height:40px;
  }

  .footer-box1 h3{
    font-size:20px;
  }

  .footer-bottom{
    padding:18px 10px;
  }

  .footer-legal{
    gap:12px;
  }

}