*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#081120;
  overflow-x:hidden;
  transition:0.4s;
}

/* ================= LOGIN SECTION ================= */

.login-section{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;

  background:
  radial-gradient(circle at left,#f4b40022,transparent 30%),
  radial-gradient(circle at right,#00326255,transparent 30%),
  #081120;

  transition:0.4s;
}

/* ================= LOGIN BOX ================= */

.login-box{
  width:100%;
  max-width:400px;

  background:rgba(20,25,35,0.92);

  border:1px solid rgba(255,255,255,0.08);

  border-radius:18px;

  padding:28px 24px;

  backdrop-filter:blur(12px);

  box-shadow:0 8px 25px rgba(0,0,0,0.4);

  animation:fadeUp 1s ease;

  transition:0.4s;
  position: fixed;
}

/* ================= BUTTON WRAPPER ================= */

.theme-wrapper{
  display:flex;
  justify-content:flex-end;
  gap:10px;
  margin-bottom:12px;
}

/* ================= THEME BUTTON ================= */

.theme-toggle{
  display:flex;
  align-items:center;
  gap:8px;

  padding:9px 14px;

  border:none;
  border-radius:10px;

  background:#f4b400;

  color:#ffffff;

  font-size:13px;
  font-weight:600;

  cursor:pointer;

  transition:0.4s;
}

.theme-toggle:hover{
  transform:translateY(-3px);
  background:#ffbf00;
}

/* ================= RTL BUTTON ================= */

.rtl-toggle{
  padding:9px 14px;

  border:none;
  border-radius:10px;

  background:#003262;

  color:#ffffff;

  font-size:13px;
  font-weight:600;

  cursor:pointer;

  transition:0.4s;
}

.rtl-toggle:hover{
  background:#0f4c81;
  transform:translateY(-3px);
}

/* ================= LOGO ================= */

.logo{
  text-align:center;

  font-size:30px;
  font-weight:700;

  margin-bottom:8px;
  /* color: #003262; */

  cursor:pointer;
}

.bl{
  color:#003262;
}

.yl{
  color:#f4b400;
}

/* ================= TITLE ================= */

.login-box h1{
  text-align:center;

  font-size:26px;

  color:#ffffff;

  margin-bottom:6px;
}

.subtitle{
  text-align:center;

  color:#9ca3af;

  font-size:13px;

  margin-bottom:18px;

  line-height:1.6;
}

/* ================= FORM ================= */

.input-group{
  margin-bottom:15px;
}

.input-group label{
  display:block;

  color:#ffffff;

  font-size:13px;
  font-weight:500;

  margin-bottom:6px;
}

.input-box input{
  width:100%;

  padding:12px 14px;

  border-radius:10px;

  border:1px solid rgba(255,255,255,0.08);

  background:rgba(255,255,255,0.05);

  color:#ffffff;

  font-size:13px;

  outline:none;

  transition:0.3s;
}

.input-box input::placeholder{
  color:#9ca3af;
}

.input-box input:focus{
  border-color:#f4b400;
}

/* ================= OPTIONS ================= */

.options{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:18px;
}

.remember{
  display:flex;
  align-items:center;
  gap:6px;

  color:#ffffff;

  font-size:12px;
}

.options a{
  color:#f4b400;

  text-decoration:none;

  font-size:12px;
}

/* ================= LOGIN BUTTON ================= */

.login-btn{
  width:100%;

  padding:12px;

  border:none;

  border-radius:10px;

  background:#f4b400;

  color:#ffffff;

  font-size:14px;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}



/* ================= DIVIDER ================= */

.divider{
  display:flex;
  align-items:center;

  gap:10px;

  margin:18px 0;

  color:#9ca3af;

  font-size:11px;
}

.divider::before,
.divider::after{
  content:"";

  flex:1;

  height:1px;

  background:rgba(255,255,255,0.1);
}

/* ================= SOCIAL BUTTONS ================= */

.social-buttons{
  display:grid;

  grid-template-columns:repeat(2,1fr);

  gap:10px;
}

.social-btn{
  padding:11px;

  border-radius:10px;

  border:1px solid rgba(255,255,255,0.08);

  background:rgba(255,255,255,0.05);

  color:#ffffff;

  font-size:13px;
  font-weight:500;

  cursor:pointer;

  transition:0.3s;
}

.social-btn:hover{
  background:#003262;
}

/* ================= SIGNUP ================= */

.signup-text{
  text-align:center;

  color:#9ca3af;

  margin-top:18px;

  font-size:12px;
}

.signup-text a{
  color:#f4b400;

  text-decoration:none;

  font-weight:600;
}

/* ================= LIGHT MODE ================= */

body.light-mode{
  background:#f1f5f9;
}
body.light-mode .logo{
  color: #003262;
}

body.light-mode .login-section{
  background: #f1f5f9;
}

body.light-mode .login-box{
  background:#ffffff;
  border:1px solid #e2e8f0;
}

body.light-mode .bl{
  color:#003262;
}

body.light-mode .login-box h1,
body.light-mode .input-group label,
body.light-mode .remember{
  color:#0f172a;
}

body.light-mode .subtitle,
body.light-mode .signup-text,
body.light-mode .divider{
  color:#64748b;
}

body.light-mode .input-box input{
  background:#f8fafc;
  color:#0f172a;
  border:1px solid #dbeafe;
}

body.light-mode .input-box input::placeholder{
  color:#94a3b8;
}

body.light-mode .social-btn{
  background:#f8fafc;
  color:#0f172a;
  border:1px solid #dbeafe;
}

body.light-mode .social-btn:hover{
  background:#003262;
  color:#ffffff;
}

/* ================= RTL MODE ================= */

body.rtl{
  direction:rtl;
}

body.rtl .theme-wrapper{
  justify-content:flex-start;
}

body.rtl .options{
  flex-direction:row-reverse;
}

body.rtl .remember{
  flex-direction:row-reverse;
}

/* ================= ANIMATION ================= */

@keyframes fadeUp{

  from{
    opacity:0;
    transform:translateY(40px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

/* ================= RESPONSIVE ================= */

/* ================= GALAXY S8+ ================= */

@media screen and (max-width: 740px){

  .login-section{
    padding:20px 15px;
  }

  .login-box{
    width:100%;
    max-width:350px;
    padding:24px 18px;
    border-radius:16px;
    position:relative;
  }

  .theme-wrapper{
    flex-direction:column;
    gap:10px;
  }

  .theme-toggle,
  .rtl-toggle{
    width:100%;
    justify-content:center;
  }

  .logo{
    font-size:24px;
  }

  .login-box h1{
    font-size:24px;
  }

  .subtitle{
    font-size:12px;
  }

  .input-box input{
    padding:11px 12px;
    font-size:13px;
  }

  .options{
    flex-direction:column;
    align-items:flex-start;
    gap:10px;
  }

  .social-buttons{
    grid-template-columns:1fr;
  }

}

/* ================= iPAD MINI ================= */

@media screen and (min-width:768px) and (max-width:1024px){

  .login-box{
    max-width:500px;
    padding:35px 30px;
    position:relative;
  }

  .logo{
    font-size:32px;
  }

  .login-box h1{
    font-size:30px;
  }

  .subtitle{
    font-size:14px;
  }

  .input-box input{
    padding:14px;
    font-size:14px;
  }

  .login-btn{
    padding:14px;
  }

}

/* ================= iPAD PRO ================= */

@media screen and (min-width:1025px) and (max-width:1366px){

  .login-box{
    max-width:550px;
    padding:40px 35px;
    position:relative;
  }

  .logo{
    font-size:36px;
  }

  .login-box h1{
    font-size:34px;
  }

  .subtitle{
    font-size:15px;
  }

  .input-box input{
    padding:15px;
    font-size:15px;
  }

  .login-btn{
    padding:15px;
    font-size:16px;
  }

}